@import "tailwindcss";

h1 {
  @apply uppercase font-light sm:text-6xl text-[42px] leading-11 sm:leading-tight;
}

h2 {
  @apply text-5xl uppercase font-light text-white;
}

.heading-container {
  @apply lg:w-2/3 pt-40 flex flex-col gap-8 pb-16 lg:px-36 sm:px-12 px-4;
}

.text-muted {
  @apply text-[#BEBEBE];
}

footer {
  @apply lg:px-32 sm:px-12 px-14 py-28 bg-black;
}

input {
  @apply bg-black border-b border-gray-500 w-full pb-2 outline-none;
}

textarea {
  @apply bg-black border-b border-gray-500 outline-none;
}

button {
  @apply bg-transparent text-white px-4 py-2 border mt-8 w-30 cursor-pointer hover:bg-white hover:text-black font-medium;
}
